/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	max-width: 100%;
	/* border: 1px solid red; */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
	font-family: 'Titillium Web', sans-serif;
	padding: 0 2% 0 2%;	
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
.top-of-article{
	display:inline-block;
	width: 100%;
	margin: 10% 0 4% 0;
	

}
nav {
	width: 100%;
	display: inline-block;
	/* background-color: lightblue; */
	margin-bottom: 4%;
	position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  background-color: rgba(0, 255, 0, 0.3);
 
  padding-bottom: 1.5%;
}
 #logo-container{
	display: inline-block; 
	margin-top: 2%;
}
.links{
	margin-right: 0;
	width: 100%;
	display: inline-block;
}
.links a{
	color:slategray;
	text-decoration: none;
	display: inline-block;
	padding: 0 3%;
	
	
}
div.links{
	width: 60%;
	
}
.logo{
display: inline-block;
width: 100%;
margin-left: 75%;
margin-top: 2%
}
}
.slogan{
	font-size: 100%;
	text-align: center;
	margin: 12% auto;
}
.slogan h3{
	font-size: 50px;
}
.slogan-and-get-started{
	text-align: center;
	margin-left: 10%;
	display: inline-block;

}
#get-started{
	border: .5px gray solid;
	margin: auto;
	width: auto;
	text-decoration: none;
	color:slategray;
	padding: 0 15%;
	

}
#get-started:hover{
	background-color: rgba(0, 255, 0, 0.3);
   }
.code-snippet-pic{
	display: inline-block;
	margin-left: 20%;
}
hr {
	width: 100%;
	height: .5px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: black;
}
.features-and-about{
	display: inline-block;
	margin: 5% 0;
	}
.features{
	display: inline-block;
	width: 44%;
	margin-right: 7%;
}
.about{
	display: inline-block;
	width: 44%;
	margin-left: 2%;
}
.middle-img{
	text-align: center;
	width: 100%;
}
.services-product-vision{
	display:inline-block;
	margin: 5% 0;
	}
.services{
	display:inline-block;
	width: 29%;
	margin-right: 2%;
}
.product{
	display:inline-block;
	width: 29%;
	margin-left: 2%;
}
.vision{
	display:inline-block;
	width: 29%;
	margin-left: 4%;
}

.footer{
	margin-top: 5%;
}
.copyright{
	text-align: center;
	margin: 5% 0 4% 0;
}
.email{
	margin: 3% 0;
}
address{
	font-style: normal; 
}
.phone-number{
	margin: 3% 0;
}

.body p{
	font-family: 'Sen', sans-serif;
}